.navBar{
    background-color: #141414;
    height: var(--nav-height);
    position: relative;
    color: #f8f9fb;
    .navBar__img-lef{
        position: absolute;
        top: 0;
        left: 0;
        right: calc(100% - 100px);
        bottom: 0;
        background-image: url(../../../assets/img/navbar/lefNav.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .container{
        height: 100%;
        display: flex;
        .logo{
            width: 30%;
            height: 100%;
            .logo__img{
                cursor: pointer;
                height: 100%;
                width: 100px;
                background-image: url(../../../assets/img/navbar/logo.png);
                background-repeat: no-repeat;
                background-position: center top;
                background-size: contain;;
            }
        }
        .contact{
            flex: 1;
            display: flex;
            .contact__phone,.contact__email{
                display: flex;
                align-items: center;
                font-size: 14px;
                margin-right: 30px;
                cursor: pointer;
                > svg{
                    font-size: 18px;
                    margin-right: 6px;
                }
            }
        }
        .auth{
            display: flex;
            align-items: center;
            .auth__btn:first-child{
                margin-right: 20px;
            }
            .auth__btn{
                &:hover{
                    color: var(--hover-color);
                }
            }
            .auth__user{
                height: 100%;
                cursor: pointer;
                display: flex;
                align-items: center;
                position: relative;
                > span{
                    margin: 0 10px;
                }
                .auth__user--custom{
                    position: absolute;
                    background-color: #f8f9fb;
                    top: 100%;
                    min-width: 226px;
                    color: #FFFFFF;
                    background-color: #141414;
                    right: 0;
                    z-index: 1;
                    display: none;
                    transition: all 10s linear ;
                    > li{
                        padding: 10px 20px;
                        &:hover{
                            cursor: pointer;
                            background-color: rgba(32, 31, 31 , .5);
                        }
                    }
                }
            }
        }
    }
    
}