.not__found{
    width: 100%;
    .img__404{
        background-image: url(https://cdn.mos.cms.futurecdn.net/PuXipAW3AXUzUJ4uYyxPKC-1200-80.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-top: 56.5%;
    }
}