.intro{
    .feature{
        margin-top: 50px;
        height: 300px;
        .feature__title{
            font-size: 22px;
            color: var(--txt-title-color);
            font-weight: 600;
        }
        
        .slider{
            margin-left: -5px !important;
            margin-right: -5px !important;
            position: relative;
            .slick-prev,.slick-next{
                position: absolute;
                background-color: rgb(112, 105, 105);
                border-radius: 50%;
                display: none !important;
                width: 40px;
                height: 40px;
                top: calc(50% - 12px);
                &::before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    font-size: 40px;
                    color: #FFFFFF;
                }
                &:hover{
                    background-color: #111;
                }
            }
            .slick-next{
                right: -29px;
            }
            .slick-prev{
                left: -30px;
            }
            .wrap__img__feature{
                .feature__img{
                    border-radius: 10px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    padding-top: 64%;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }
    .direction{
        position: relative;
        .direction__title{
            font-size: 24px;
            text-align: center;
            color: #111;
            font-weight: 600;
        }
        .background__direction{
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            height: 140px;
            z-index: -1;
            background-color: #e5f5ea ;
        }
        .direction__img{
            border-radius: 10px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                padding-top: 80%;
                margin-left: 5px;
                margin-right: 5px;
        }
        .direction__img__title{
            margin-top: 10px;
            text-align: center;
            color: var(--txt-title-color);
        }
    }
}
.intro__lease{
    margin-top: 100px;
    position: relative;
    .lease__img{
        border-radius: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding-top:38%;
    }
    .wrap__guide{
        color: #FFFFFF;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        .lease__guide{
            max-width: 450px;
            margin: auto;
            margin-right: 100px;
            .guide__title{
                font-size: 40px;
                font-weight: 600;
            }
            .guide__desc{
                font-size: 18px;
                line-height: 30px;
            }
            .button__lease{
                display: flex;
                justify-content: flex-end;
                .button__left,.button__right{
                    margin-right: 20px;
                    padding: 10px 20px;
                }
                .button__left{
                    background-color: #141414;
                    &:hover{
                        background-color: #2c2c2c;
                    }
                }
                .button__right{
                    background-color: var(--background-btn-primary);
                    &:hover{
                        background-color: #0d7b43;
                    }
                }
            }
        }
    }
}