.detail {
  overflow-y: scroll;
  height: 100vh;
  z-index: 1;
  padding-bottom: 100px;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  .header{
    display: flex;
    justify-content: space-between;
    .status{
      border-radius: 6px;
      margin-top: 40px;
      font-weight: 600;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #b60505;
      width: 20%;
      min-width: 200px;
      background-color: rgb(255, 255, 255);
    }
  }
  .carName {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 600;
    // padding: 0px 16px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  .wrap_image {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    .carImages {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
      width: 100%;
    }
  }
  .unitPrices {
    height: max-content;
    width: max-content;
  }
  .car_content {
    background-color: #ffffff;
    margin-top: 18px;
    // height: 340px;
    padding: 25px;
    color: #000;
    border-radius: 6px;
    line-height: 1.7;
    .carCharactor {
      display: flex;
      .charac {
        font-size: 12.5px;
        color: #a9aaad;
        font-weight: 700;
        width: 25%;
        text-transform: uppercase;
      }
      .sub_charac {
        font-size: 14px;
        width: 75%;
        .list_charac {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          .car_seats,
          .car_driveTrains,
          .car_fuel {
            width: 50%;
            margin-bottom: 1rem;
            padding-left: 8px;
          }
        }
      }
    }
    .car_description {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 2rem;

      .descrip {
        font-size: 12.5px;
        color: #a9aaad;
        font-weight: 700;
        width: 25%;
        text-transform: uppercase;
      }
      .content_descripton {
        width: 75%;
        padding: 0 20px 0 8px;
        text-align: justify;
        font-size: 14px;
      }
    }
    .car_feature {
      display: flex;
      margin-top: 1rem;
      .feature {
        font-size: 12.5px;
        color: #a9aaad;
        font-weight: 700;
        width: 25%;
        text-transform: uppercase;
      }
      .sub_feature {
        font-size: 14px;
        width: 75%;
        .list_feature {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          .feature_items {
            width: 50%;
            margin-bottom: 1rem;
            padding-left: 8px;
          }
        }
      }
    }
  }
  .car_regulations {
    background-color: #ffffff;
    margin-top: 18px;
    padding: 25px;
    color: #000;
    border-radius: 6px;
    line-height: 1.8;
    .regulations_papers {
      display: flex;
      .regulations_identification {
        font-size: 12.5px;
        color: #a9aaad;
        font-weight: 700;
        width: 25%;
        text-transform: uppercase;
        padding-right: 6px;
      }
      .identification_content {
        font-size: 14px;
        width: 75%;
        .list_papers {
          width: 75%;
          display: flex;
          flex-wrap: wrap;
          .papers_items {
            width: 100%;
            font-size: 14px;
            margin-bottom: 1rem;
            padding-left: 8px;
          }
        }
      }
    }
    .car_mortgage {
      display: flex;
      margin: 1rem 0 2rem;
      .mortgage_collateral {
        font-size: 12.5px;
        color: #a9aaad;
        font-weight: 700;
        width: 25%;
        text-transform: uppercase;
        padding-right: 6px;
      }
      .collateral_content {
        font-size: 14px;
        width: 75%;
        // padding-right: 75px;
        word-wrap: break-word;
      }
    }
    .car_proviso {
      display: flex;
      .proviso_rules {
        font-size: 12.5px;
        color: #a9aaad;
        font-weight: 700;
        width: 25%;
        text-transform: uppercase;
        padding-right: 6px;
      }
      .sub_rules {
        font-size: 14px;
        width: 75%;
        word-wrap: break-word;
      }
    }
  }
  .sidebar-detail {
    border-radius: 6px;
    width: 100%;
    background-color: #f8f9fb;
    .rent-box {
      padding: 20px 35px;
      padding-bottom: 30px;
      .price {
        position: relative;
        display: flex;
        color: #00a550;
        margin-bottom: 5px;
        width: 100%;
        justify-content: center;
        align-items: center;
        span {
          font-size: 18px;
          //   line-height: 42px;
          text-decoration: line-through;
          margin-right: 5px;
          font-weight: 700;
          color: #67737f;
        }
        h3 {
          font-weight: 700;
          font-size: 2.5em;
          margin-bottom: 0;
          span {
            font-size: 13px;
            margin-left: 5px;
            font-weight: 700;
            color: #67737f;
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
          }
        }
      }
      .line-form {
        margin: 20px 0;
      }
      .notice-form {
        background-color: rgba(250, 125, 25, 0.1);
        padding: 0.25rem 1rem;
        margin-bottom: 10px;
        font-size: 0.875rem;
        .content {
          display: flex;
          justify-content: space-between;
          color: red;
        }
      }
      .local {
        .note {
          font-size: 12px;
          color: #6b6b6b;
          display: flex;
          font-size: 0.875rem;
        }

        .notice-form {
          margin-top: 20px;
        }
        .content {
          color: rgb(58, 58, 58);
        }
      }
    }
  }
}
.title {
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
  display: block;
  margin-bottom: 10px;
  color: #141414;
}
.bill-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .line {
    border-top: 1px solid rgb(177, 177, 177);
    width: 100%;
    margin: 5px 0;
  }
  .group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0;
    line-height: 30px;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }
  .has-line {
    font-weight: bold;
    font-size: 15px;
  }
}
.wrap-btn {
  color: #fff;
  background-color: #00a550;
  box-shadow: none;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  font-weight: bolder;
  border: 0;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;
}
.disable{
  background-color: #6e6e6e;
}
