.basic__alert{
    z-index: 9999;
    max-width: 400px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    transform-origin: center;
    animation: to-slide linear .2s,hide linear .5s 2s forwards;
}
@keyframes to-slide{
    from {
        transform: translateX(calc(-100% - 50px));
        opacity: 0;
      }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
@keyframes hide{
  to{
    opacity: 0;
  }
}