.productDetail-container{
  width: 100%;
  position: relative;
  .header{
    padding: 20px 0;
    justify-content: space-between;
    .field{
      width: 200px;
      position: relative;
      margin-top: 0;
      padding-top: 0;
      
    }
    p{
      font-size: 18px;
      font-weight: bold;
      color: rgb(124, 124, 124);
    }

  }
  .content{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
  }
}