
.item__render--search{
    height: 100%;
    overflow-y: scroll;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
    flex: 1;
    .loading{

    }
    .item__card{
        padding:  16px 10px 0;
        .wrap__carCard{
            background-color: #FFFFFF;
            padding: 10px;
            position: relative;
            .car__seats{
                font-size: 12px;
                margin-left: 4px;
            }
            .car__available{
                position: absolute;
                right: 0;
                bottom: 0;
                padding: 0 20px;
                border-radius: 5px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                background-color: var(--background-btn-primary);
                color: #FFFFFF;
            }
            .wrap__img{
                cursor: pointer;
                overflow: hidden;
                position : relative;
                width: 100%;
                height: 200px;
                .item__card_img{
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 5px;
                }
                .item__card_price{
                    color: #FFFFFF;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 4px 6px;
                    border-top-left-radius: 3px;
                    background-color: var(--background-btn-primary);
                    text-align: right;
                    >span {
                        font-size: 14px;
                    }
                }
            }
            .item__card_name{
                font-size: 18px;
                font-weight: 500;
                color: #111;
                padding: 0;
                margin: 2px 0;
                overflow: hidden;
                display: block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                height: 20px;
            }
            .item__card_fuel{
                background-color: #ccc;
                display: inline-block;
                padding: 0 8px;
                border-radius: 24px;
                color: var(--txt-title-color);
            }
            .item__card_address{
                display: flex;
                align-items: center;
                > svg{
                    font-size: 16px;
                    color: var(--background-btn-primary);
                }
            }
        }
    }
}
